#Title {
	padding-top: 50px;
	font-size: 18px;
	padding-bottom: 5px;
}
#Description {
	font-size: 10px;	
	padding-bottom: 15px;
}
#Validate {
	color: #0066cc;
	padding-top: 10px;
	font-weight: bold;
}
#Validate.success {
	color: #009933;
}
#Validate.error {
	color: #ff3300;
}
