Source: com.github.linuxhubit.ppaextender
Section: x11
Priority: extra
Maintainer: Mirko Brombin <send@mirko.pm>
Build-Depends: debhelper (>= 10),
               gir1.2-gtk-3.0,
               gir1.2-granite-1.0,
               dh-python,
               python3-all,
               software-properties-common,
Standards-Version: 3.9.3
X-Python3-Version: >= 3.4

Package: com.github.linuxhubit.ppaextender
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends},
         software-properties-common,
         gir1.2-gtk-3.0,
         gir1.2-granite-1.0,
         python-requests,
Description: PPA Extender
 Easily manage PPA
