[Desktop Entry]
Type=Application
Name=PPAExtender
GenericName=PPA
Comment=An application to extend repo on debian/ubuntu based systems.
Exec=com.github.linuxhubit.ppaextender %U
Icon=com.github.linuxhubit.ppaextender
Terminal=false
Categories=System;GTK;
Keywords=PPA;
