[Desktop Entry]
Type=Application
Name=License
GenericName=License chooser
Comment=Choose your project license
Exec=com.github.linuxhubsubpixel.license %U
Icon=com.github.linuxhubsubpixel.license
Terminal=false
Categories=System;GTK;
Keywords=license;
